<?xml version="1.0"?>
<config>
    <sections>
        <dev>
            <groups>
                <securefrontend translate="label">
                    <label>Secure - Frontend</label>   
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <allow translate="label">
                            <label>Allow these IPs</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow>
                        <block translate="label">
                            <label>Lock these IPs</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </block>
                        <redirect_blank translate="label">
                            <label>Redirect to blank page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Will redirect to blank page if "No"!]]></comment>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect_blank>
						<redirect_page translate="label">
                            <label>Redirect to CMS page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <comment><![CDATA[Assign the Cms page which you need to assign for redirect!]]></comment>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect_page>
                    </fields>
                </securefrontend>
                <secureadmin translate="label">
                    <label>Secure - Admin</label>
                    <sort_order>600</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <allow translate="label comment">
                            <label>Allow these IPs</label>
                            <frontend_type>textarea</frontend_type>
                            <comment><![CDATA[Be careful not to lock yourself out!]]></comment>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow>
                        <block translate="label">
                            <label>Lock these IPs</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </block>
                        <redirect_blank translate="label">
                            <label>Redirect to blank page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                             <comment><![CDATA[Will redirect to blank page if "No"!]]></comment>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect_blank>
						<redirect_page translate="label">
                            <label>Redirect to CMS page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <comment><![CDATA[Assign the Cms page which you need to assign for redirect!]]></comment>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect_page>
                    </fields>
                </secureadmin>
            </groups>
        </dev>
    </sections>
</config>
